@using MvcPWy.Models
@model MvcPWy.PViews.LeaderboardView

@{
    ViewBag.Title = "Leaderboard";
    int i = 1;
}

<h2>Leaderboard</h2>

<table class="table table-bordered">
    <tr>
        <th>
            Rank
        </th>
        <th>
            Username
        </th>
        <th>
            Win/Loss ratio
        </th>
        <th>
            Total games
        </th>
        <th>
            Rating
        </th>
    </tr>
    @foreach (LeaderboardEntry e in Model.LeaderboardEntries.OrderByDescending(x => x.EloRating))
    {
        <tr>
            <td>
                #@i
            </td>
            <td>
                @e.UserName
            </td>
            <td>
                %
            </td>
            <td>
                @e.NumberOfGames
            </td>
            <td>
                @e.EloRating
            </td>
        </tr>
        i++;
    }
</table>